@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #09090b;
  font-family: 'JetBrains Mono', monospace;
}

#app {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  color: #fafafa;
  font-size: 1.25rem;
  font-weight: 600;
}

json-diff-viewer {
  flex: 1;
  min-height: 0;
  border: 2px solid #3f3f46;
  border-radius: 16px;
}
